<%- include('partials/header'); -%>
<div class="content">
    <div class="container">
        <form action="" method="post">
            <div class="search">
                <input class="search-box" type="text" name="title" id="" placeholder="Search...">
                <span class="search-icon"><i class="ti-search"></i></span>
            </div>
        </form>
        <h1 class="content-heading">Home</h1>
        <p class="content-paragraph">This is a personal blog/ daily journal of Quan while learning Web backend development.</p>
        <% posts.forEach(function(post){ %>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><%= post.title %></h2>
                    <p class="card-content"><%= post.content.substring(0, 100) + ' ...' %></p>
                    <a href="/posts/<%= post._id %>" class="card-button">Read more</a>
                </div>
            </div>
        <%}); %>
    </div>
</div>
<%- include('partials/footer'); -%>